<ion-header>
  <ion-toolbar color="primary">
    <img
      src="assets/splash.png"
      (click)="reloadAngGoToTimeline()"
      style="height: 35%; width: 35%"
    />
    <ion-buttons slot="end">
      <ion-button shape="round" style="zoom: 1.7">
        <ion-icon name="notifications"></ion-icon
      ></ion-button>
      <ion-button id="auth-button" shape="round" style="zoom: 1.8">
        <ion-icon name="person-circle" style="zoom: 1.2"></ion-icon>
        <ion-popover
          trigger="auth-button"
          [dismissOnSelect]="true"
          *ngIf="isLogged === false"
        >
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" (click)="moveLogin()"
                  >Iniciar sesión</ion-item
                >
                <ion-item
                  [button]="true"
                  [detail]="false"
                  (click)="moveRegisterNgo()"
                  >Registrarse como ONG</ion-item
                >
                <ion-item
                  [button]="true"
                  [detail]="false"
                  (click)="moveRegisterUser()"
                  >Registrarse como usuario</ion-item
                >
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-popover
          trigger="auth-button"
          [dismissOnSelect]="true"
          *ngIf="isLogged === true"
        >
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item
                  [button]="true"
                  [detail]="false"
                  (click)="showProfile()"
                  >Ver Perfil
                </ion-item>
                <ion-item
                  [button]="true"
                  [detail]="false"
                  (click)="closeSession()"
                  >Cerrar sesión
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 *ngIf="showInitialText" style="margin-bottom: 100px">
    SELECCIONA <b>NOVEDADES</b> PARA VER LAS ÚLTIMAS PUBLICACIONES DE LAS ONGS A
    LAS QUE SIGUES O EN <b>BÚSQUEDA</b> PARA BUSCAR ONGS O PUBLICACIONES
  </h1>
</ion-content>
<ion-tabs selectedIndex="2">
  <ion-tab-bar slot="bottom" color="primary" style="zoom: 1.2">
    <ion-tab-button
      tab="news"
      (click)="tabButtonValue = -1;showInitialText = false"
    >
      <ion-icon
        name="megaphone"
        [color]="tabButtonValue < 0 ? 'light' : 'medium'"
      >
      </ion-icon>
      <ion-label [color]="tabButtonValue < 0 ? 'light' : 'medium'"
        >Novedades</ion-label
      >
    </ion-tab-button>
    <ion-tab-button
      tab="search"
      (click)="tabButtonValue = 1; showInitialText = false"
    >
      <ion-icon
        name="search"
        [color]="tabButtonValue > 0 ? 'light' : 'medium'"
      ></ion-icon>
      <ion-label [color]="tabButtonValue > 0 ? 'light' : 'medium'"
        >Búsqueda</ion-label
      >
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
