<ion-header style="height: 25%" slot="fixed">
  <ion-toolbar color="primary" style="height: 70%">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="height: 100%; margin-top: 27px; margin-right: 50px">
      <h1 style="color: white; text-align: center">ONG: {{ngo.name}}</h1>
      <h5 style="color: white; text-align: center">
        Nombre de usuario: {{ngo.username}}
      </h5>
    </div>
  </ion-toolbar>
  <ion-tabs>
    <ion-tab-bar
      slot="bottom"
      color="secondary"
      style="border-color: #3ab271; height: 30%"
    >
      <ion-tab-button tab="information" (click)="buttonValue = 1">
        <ion-icon
          name="information-circle"
          [color]="buttonValue > 0 ? 'light' : 'medium'"
        ></ion-icon>
        <ion-label [color]="buttonValue > 0 ? 'light' : 'medium'"
          >Información general</ion-label
        >
      </ion-tab-button>
      <ion-tab-button tab="posts" (click)="buttonValue = -1">
        <ion-icon
          name="bookmarks"
          [color]="buttonValue < 0 ? 'light' : 'medium'"
        ></ion-icon>
        <ion-label [color]="buttonValue < 0 ? 'light' : 'medium'"
          >Publicaciones</ion-label
        >
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-header>

<ion-content>
  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    style="margin-top: -190px"
  >
    <ion-fab-button style="--background: #3fe7d6 !important">
      <ion-icon name="person-add" style="color: white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h6 style="margin-left: 10px; margin-right: 10px">Misión</h6>
  <p style="margin-left: 10px; margin-right: 10px">{{ngo.mission}}</p>
  <h6 style="margin-left: 10px; margin-right: 10px">Orientación</h6>
  <ion-grid style="margin-left: 10px; margin-right: 10px">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let orientation of ngo.orientation; let i = index"
      >
        <ion-item lines="none" style="border: 0">
          <span> {{orientation}} </span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h6 style="margin-left: 10px; margin-right: 10px">Área de influencia</h6>
  <p style="margin-left: 10px; margin-right: 10px">{{ngo.influenceArea}}</p>
  <h6 style="margin-left: 10px; margin-right: 10px">Contacto</h6>
  <p style="margin-left: 10px; margin-right: 10px">
    Correo electrónico:
    <span style="float: right; text-align: right">{{ngo.email}}</span>
  </p>
  <p style="margin-left: 10px; margin-right: 10px">
    Página web:
    <a style="float: right; text-align: end" href="{{ngo.webPage}}"
      >{{ngo.webPage}}</a
    >
  </p>
</ion-content>
