<ion-header slot="fixed" style="height: 25%; background-color: #3ab271">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="height: 100%; margin-top: -10px; margin-right: 50px">
      <h1 style="color: white; text-align: center">ONG: {{ngo.name}}</h1>
      <h5 style="color: white; text-align: center">
        Nombre de usuario: {{ngo.username}}
      </h5>
    </div>
    <ion-button
      style="
        --background: #3fe7d6 !important;
        float: right;
        margin-right: 5px;
        width: 125px;
      "
      (click)="followButtonValue = !followButtonValue; follow()"
    >
      <ion-label *ngIf="followButtonValue" style="font-size: 12px">
        Seguir
      </ion-label>
      <ion-label *ngIf="!followButtonValue" style="font-size: 12px">
        Dejar de seguir
      </ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" color="secondary" style="border-color: #3ab271">
      <ion-tab-button tab="app-user-information" (click)="tabButtonValue = 1;">
        <ion-icon
          name="information-circle"
          [color]="tabButtonValue > 0 ? 'light' : 'medium'"
        ></ion-icon>
        <ion-label [color]="tabButtonValue > 0 ? 'light' : 'medium'"
          >Información general</ion-label
        >
      </ion-tab-button>
      <ion-tab-button tab="app-posts" (click)="tabButtonValue = -1;">
        <ion-icon
          name="bookmarks"
          [color]="tabButtonValue < 0 ? 'light' : 'medium'"
        ></ion-icon>
        <ion-label [color]="tabButtonValue < 0 ? 'light' : 'medium'"
          >Publicaciones</ion-label
        >
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- <app-user-information
    *ngIf="userInformation"
    ngo="{{ngo}}"
  ></app-user-information>
  <app-posts *ngIf="!userInformation" ngo="{{ngo}}"></app-posts> -->
</ion-content>
