<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="bienvenido-de-nuevo">
    ¡BIENVENIDO A <br />
    ONGHUB!
  </h1>
  <p class="introduce-credenciales">
    Rellena el siguiente formulario para crear una cuenta de usuario.
  </p>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating"> Nombre de usuario * </ion-label>
      <ion-input required="true" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Nombre completo * </ion-label>
      <ion-input required="true" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Correo electrónico </ion-label>
      <ion-input formControlName="email" email="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Contraseña * </ion-label>
      <ion-input
        required="true"
        formControlName="password"
        type="password"
        clearOnEdit="false"
      ></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select
          interface="popover"
          id="id1"
          placeholder="ODS *"
          [multiple]="true"
          (ionChange)="handleChange($event)"
        >
          <ion-select-option value="fin de la pobreza">
            fin de la pobreza
          </ion-select-option>
          <ion-select-option value="hambre cero">
            hambre cero
          </ion-select-option>
          <ion-select-option value="alianzas para lograr los objetivos">
            alianzas para lograr los objetivos
          </ion-select-option>
          <ion-select-option value="salud y bienestar">
            salud y bienestar
          </ion-select-option>
          <ion-select-option value="paz, justicia e instituciones solidas">
            paz, justicia e instituciones solidas
          </ion-select-option>
          <ion-select-option value="vida de ecosistemas terrestres">
            vida de ecosistemas terrestres
          </ion-select-option>
          <ion-select-option value="vida submarina">
            vida submarina
          </ion-select-option>
          <ion-select-option value="accion por el clima">
            accion por el clima
          </ion-select-option>
          <ion-select-option value="produccion y consumo responsables">
            produccion y consumo responsables
          </ion-select-option>
          <ion-select-option value="ciudades y comunidades sostenibles">
            ciudades y comunidades sostenibles
          </ion-select-option>
          <ion-select-option value="reduccion de las desigualdades">
            reduccion de las desigualdades
          </ion-select-option>
          <ion-select-option value="industria, innovacion e infraestructura">
            industria, innovacion e infraestructura
          </ion-select-option>
          <ion-select-option value="trabajo decente y crecimiento economico">
            trabajo decente y crecimiento economico
          </ion-select-option>
          <ion-select-option value="energia sostenible y no contaminante">
            energia sostenible y no contaminante
          </ion-select-option>
          <ion-select-option value="agua limpia y saneamiento">
            agua limpia y saneamiento
          </ion-select-option>
          <ion-select-option value="igualdad de genero">
            igualdad de genero
          </ion-select-option>
          <ion-select-option value="educacion de calidad">
            educacion de calidad
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-note>
      Elige los que más te interesen, al menos uno.
      <a
        href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/"
      >
        Información sobre los ODS aquí.
      </a>
    </ion-note>
    <ion-item-divider
      style="width: 90%; align-items: center; margin: auto"
    ></ion-item-divider>
    <!-- <ion-button (click)="openOptionSelection()" style="width: 17%"
      ><ion-icon name="camera-outline"></ion-icon
    ></ion-button>
    <ion-label> Selecciona una foto de perfil </ion-label>
    <ion-item-divider style="width: 90%; align-items: center; margin: auto">
    </ion-item-divider> -->
    <ion-label>
      Al registrarte, aceptas nuestra Política de privacidad y Política de uso
      de cookies. También que tienes más de 14 años.</ion-label
    >
    <ion-button
      (click)="register()"
      [disabled]="(!form.valid || (ODS==null || ODS==''))"
      >REGISTRARSE</ion-button
    >
    <ion-label color="danger" *ngIf="userExists"
      >El nombre de usuario o el email ya existe en el sistema. Por favor
      introduzca uno diferente.</ion-label
    >
  </form>

  <p>
    ¿Ya tienes una cuenta?
    <a [routerLink]="['/login']"> Inicia sesión aquí </a>
  </p>
</ion-content>
