<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="bienvenido-de-nuevo">
    ¡BIENVENIDO DE <br />
    NUEVO!
  </h1>
  <p class="introduce-credenciales">
    Introduce tus credenciales para iniciar sesión.
  </p>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Email o nombre de usuario</ion-label>
      <ion-input required="true" formControlName="usernameOrEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        required="true"
        formControlName="password"
        type="password"
        clearOnEdit="false"
      ></ion-input>
    </ion-item>
    <ion-button (click)="login()" [disabled]="!form.valid"
      >Iniciar Sesión</ion-button
    >
  </form>
  <ion-item-divider
    style="width: 90%; align-items: center; margin: auto"
  ></ion-item-divider>
  <p>
    ¿Aún no tienes una cuenta?
    <a [routerLink]="['/user-register']">Regístrate como usuario aquí</a> o
    <a [routerLink]="['/ngo-register']">como organización aquí</a><br /><br />
  </p>
  <p>
    ¿Olvidaste tu contraseña?
    <a [routerLink]="['/password-recover']">Crea una nueva</a>
  </p>
</ion-content>
