h1 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 34px;
  text-align: center;
}

.introduce-credenciales,
p {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
}

ion-item {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-button {
  width: 60%;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

ion-icon {
  zoom: 1.3;
}
